body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #309acf;

}

main {
    padding: 20px;
}

#country-details {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 5px;
    font-weight:bold;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#map {
    height: 300px;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}
